## Практика 6

### Задание 1. Загрузка данных

In [221]:
import numpy as np
import pandas as pd
import scipy.stats as sts

In [222]:
data = pd.read_csv('ECDCCases.csv')
data.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
4,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266

### Задание 2. Проверка данных на пропущенные значения и предобработка

In [223]:
for column in data.columns:
    missing = np.mean(data[column].isna()*100)
    print(f" {column} : {round(missing, 2)}%")

 dateRep : 0.0%
 day : 0.0%
 month : 0.0%
 year : 0.0%
 cases : 0.0%
 deaths : 0.0%
 countriesAndTerritories : 0.0%
 geoId : 0.44%
 countryterritoryCode : 0.2%
 popData2019 : 0.2%
 continentExp : 0.0%
 Cumulative_number_for_14_days_of_COVID-19_cases_per_100000 : 4.65%

In [224]:
data = data.drop(['Cumulative_number_for_14_days_of_COVID-19_cases_per_100000', 'geoId'], axis=1)

c_column = 'countryterritoryCode'
n_column = 'popData2019'
data[c_column] = data[c_column].fillna('other')
data[n_column] = data[n_column].fillna(np.mean(data[n_column]))

for column in data.columns:
    missing = np.mean(data[column].isna()*100)
    print(f" {column} : {round(missing, 2)}%")

 dateRep : 0.0%
 day : 0.0%
 month : 0.0%
 year : 0.0%
 cases : 0.0%
 deaths : 0.0%
 countriesAndTerritories : 0.0%
 countryterritoryCode : 0.0%
 popData2019 : 0.0%
 continentExp : 0.0%

### Задание 3. Статистика по данным

In [225]:
data.describe()

,day,month,year,cases,deaths,popData2019
count,61904.000000,61904.000000,61904.000000,61904.000000,61904.000000,6.190400e+04
mean,15.629232,7.067104,2019.998918,1155.079026,26.053987,4.098628e+07
std,8.841624,2.954816,0.032881,6779.010824,131.222948,1.529724e+08
min,1.000000,1.000000,2019.000000,-8261.000000,-1918.000000,8.150000e+02
25%,8.000000,5.000000,2020.000000,0.000000,0.000000,1.324820e+06
50%,15.000000,7.000000,2020.000000,15.000000,0.000000,7.813207e+06
75%,23.000000,10.000000,2020.000000,273.000000,4.000000,2.860872e+07
max,31.000000,12.000000,2020.000000,234633.000000,4928.000000,1.433784e+09

In [226]:
print("Countries: " + ", ".join(data[data.deaths > 3000].countriesAndTerritories.unique()))
print(f"Count day: {len(data[data.deaths > 3000])}")

Countries: Argentina, Ecuador, Mexico, Peru, United_States_of_America
Count day: 11

### Задание 4. Дублированные данные и их удаление

In [227]:
print(f'Count of duplication: {len(data[data.duplicated()])}')
data[data.duplicated()]

Count of duplication: 4

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,countryterritoryCode,popData2019,continentExp
3,12/12/2020,12,12,2020,113,11,Afghanistan,AFG,38041757.0,Asia
218,12/05/2020,12,5,2020,285,2,Afghanistan,AFG,38041757.0,Asia
48010,29/05/2020,29,5,2020,0,0,Saint_Lucia,LCA,182795.0,America
48073,28/03/2020,28,3,2020,0,0,Saint_Lucia,LCA,182795.0,America

In [228]:
data = data.drop_duplicates()
print(f'Count of duplication: {len(data[data.duplicated()])}')

Count of duplication: 0

### Задание 5. Загрузка данных и t-критерий Стьюдента

In [229]:
data = pd.read_csv('bmi.csv')
data.head()

      bmi     region
0  22.705  northwest
1  28.880  northwest
2  27.740  northwest
3  25.840  northwest
4  28.025  northwest

In [230]:
north = data[data.region == 'northwest'].bmi
south = data[data.region == 'southwest'].bmi

In [231]:
res_south = sts.shapiro(south)
res_north = sts.shapiro(north)
print(f'Критерий Шопиро-Уилка south: {res_south}')
print(f'Критерий Шопиро-Уилка north: {res_north}')

Критерий Шопиро-Уилка south: ShapiroResult(statistic=0.9949268698692322, pvalue=0.3629520535469055)
Критерий Шопиро-Уилка north: ShapiroResult(statistic=0.9954646825790405, pvalue=0.4655335247516632)

In [232]:
res = sts.bartlett(south, north)
print(f'Критерий Бартлетта: {res}')

Критерий Бартлетта: BartlettResult(statistic=3.4000745256459286, pvalue=0.06519347353581818)

In [233]:
t_res = sts.ttest_ind(south, north)
print(f't-критерий Стьюдента: {t_res}')

t-критерий Стьюдента: Ttest_indResult(statistic=3.2844171500398582, pvalue=0.001076958496307695)

### Задание 6. Критерий Хи-квадрат для проверки равномерности

In [234]:
data = pd.DataFrame({'n': [1, 2, 3, 4, 5, 6], 'num': [97, 98, 109, 95, 97, 104], 'reference': [100]*6})
data

   n  num  reference
0  1   97        100
1  2   98        100
2  3  109        100
3  4   95        100
4  5   97        100
5  6  104        100

In [235]:
res_Xi = sts.chisquare(data['num'], data['reference'])
print(f'Критерий Хи-квадрата: {res_Xi}')

Критерий Хи-квадрата: Power_divergenceResult(statistic=1.44, pvalue=0.9198882077437889)

### Задание 7. Критерий Хи-квадрат для проверки зависимости переменных

In [236]:
data = pd.DataFrame({
    'Женат': [89,17,11,43,22,1],
    'Гражданский брак': [80,22,20,35,6,4],
    'Не состоит в отношениях':[35,44,35,6,8,22]})
data.index = ['Полный рабочий день','Частичная занятость','Временно не работает','На домохозяйстве','На пенсии','Учёба']
data

                       Женат  Гражданский брак  Не состоит в отношениях
Полный рабочий день     89                 80                       35
Частичная занятость       17                 22                       44
Временно не работает      11                 20                       35
На домохозяйстве         43                 35                        6
На пенсии                 22                  6                        8
Учёба                     1                  4                       22

In [237]:
sts.chi2_contingency(data)[:3]

(122.29654948595365, 1.7291616900960234e-21, 10)